@import url('https://fonts.googleapis.com/css?family=Quicksand');

.inputbarsmall{
    width:20vw;
    min-width:200px;
    height:8vh;
    border:none;
    outline:none;
    border-radius:5px 0 0 5px;
    background-color: #F5F4F4;
    padding-left: 2vw;
    font-family: "Quicksand";

}

.inputbarbig{
    width:24vw;
    height:8vh;
    border:none;
    outline:none;
    border-radius:5px;
    background-color: #F5F4F4;
    padding-left: 2vw;
    font-family: "Quicksand";
}
.fullinput i{
    color:#8a9474;
    font-size:18px;
}
.editbutton{
    width:8vh;
    height:8.2vh;
    cursor:pointer;
    border-radius:0 5px 5px 0;
    background-color: #CFDAB6;
    border:none;
    outline:none;

}

.fullinput{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin:1vh 2vw;
}