.CTA{
    border: none;
    background: #98A970;
    padding: 3vh 3vw;
    text-align: center;
    font-family: "Quicksand",sans-serif;
    font-size: 18px;
    margin:5vh 0vw;
    color: white;
    cursor:pointer;
    border:none;
    outline: none;
}