.card{
    margin-top:5vh;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
}
.sign{
    padding:7vh;
    border-radius:10px;
    min-height:20vh;
    width:40vh;
    background:#FFF7AF;
}
.sign p{
    font-weight:300;
}
.journal{
    display:flex;
    flex-direction:column;
    align-items:flex-end;
    justify-content: center;
}
.journal p{
    text-align:right;
}
.row{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:flex-start;
}